@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
html {
    height: 100%;
}

body {
    font-size: 14px;
    background: var(--clr-cream);
    padding: 1.25em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image {
    content:url(./images/image-product-mobile.jpg);
    max-width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

.product__content {
    background: var(--clr-white);
    padding: 1.5em;
    border-radius: 0 0 10px 10px;
}

.product__category {
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--clr-grayish-blue);
    margin-bottom: 1.25em;
    font-size: 0.75rem;
}

.product__title {
    font-family: 'Fraunces';
    font-size: 2.25rem;
    color: var(--clr-dark-blue);
    margin-bottom: 0.75em;
    line-height: 1em;

}

.product__description {
    font-family: 'Montserrat';
    color: var(--clr-grayish-blue);
    line-height: 1.75em;
    font-size: 1.15em;
    margin-bottom: 2em;
}

.product__prices {
    display: flex;
    align-items: center;
}

.product__full-price {
    color: var(--clr-grayish-blue);
    text-decoration: line-through;
    font-family: 'Montserrat';
}

.product__discount-price {
    color: var(--clr-dark-cyan);
    font-family: 'Fraunces';
    font-size: 2rem;
    margin-right: 0.75em;
}

.product__button {
    background: var(--clr-dark-cyan);
    border-radius: 10px;
    color: var(--clr-white);
    display: block;
    width: 100%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 1.25em;
    display: flex;
    justify-content: center;
}

.product__icon {
    margin-right: 0.75em;
}

@media(min-width: 768px) {
    main {
        display: flex;
        width: 35%;
        justify-content: center;
        height: 50vh;
    }
    
    .product__image {
        content:url(./images/image-product-desktop.jpg);
        width: 50%;
        display: block;
        border-radius: 10px 0 0 10px;
    }

    .product__prices {
        margin-bottom: 2em;
    }

    .product__content {
        width: 50%;
        border-radius: 0 10px 10px 0;
        padding: 2.25em;
    }
}